INFISICAL_DOMAIN=https://app.infisical.com
INFISICAL_PROJECT_ID=replace-with-infisical-project-id
INFISICAL_CLIENT_ID=replace-with-infisical-client-id
INFISICAL_CLIENT_SECRET=replace-with-infisical-client-secret
